
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOLF COMPETITION</title>
</head>

<body>

<h2>GOLF COMPETITION</h2>

<form method= "GET" action="page1_golf.html">

  <label for="entrants">Number of Entrants:</label><br>
  <input type="number" id="entrants" name="entrants"><br>

  <label for="fee">Per Entrant Fee: $</label><br>
  <input type="number" id="fee" name="fee"><br>

  <label for="percent">Percent of amount to be allocated/ paid:</label><br>
  <input type="number" id="percent" name="percent"><br>

  <label for="ntp">NTP:</label><br>
  <input type="number" id="ntp" name="ntp"><br><br>

  <input type="submit" value="Submit">


</form> 
</body>
</html>