<!DOCTYPE html>
<html>

<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Final Statistics</h2>


<div id="table-gen">
        <p>Table generated after finalising the Scoreboard</p>
        <table cellpadding="1" cellspacing="1" border="1" id="scoreboard">
          <tr>
          <th>Position</th>
          <th>Player Name</th>
          <th>Score</th>
          <th>Prize Money</th>
          </tr>
          <tr>
            <td>1</td>
            <td><input type="number" placeholder="number goes here..."></td>
            <td><input type="name" placeholder="text goes here..."></td>
            <td><input type="number" placeholder="number goes here..."></td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="number" placeholder="number goes here..."></td>
            <td><input type="name" placeholder="text goes here..."></td>
            <td><input type="number" placeholder="number goes here..."></td>
          </tr>
          <tr>
            <td>3</td>
            <td><input type="number" placeholder="number goes here..."></td>
            <td><input type="name" placeholder="text goes here..."></td>
            <td><input type="number" placeholder="number goes here..."></td>
          </tr>
        </table>
    </div>






<br><br>



<table style="width:100%">
  <tr>
    <th>Actual Prize Pool Payout</th>

  </tr>
  <tr>
    <td>if (NTP == FALSE): Sum of Prize Money Column / Rundown Fund <br> <br>
if (NTP == TRUE): [ Sum of Prize Money Column + (NTP * 10)] / Rundown Fund
  </tr>

</table>




</body>
</html>